select{
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(https://digiflowroot.be/static/images//select-d.png);
    background-position: 96% 50%;
    background-repeat: no-repeat;
    background-size: 10px;
}
.dds_car_search_wrap_col{
    display:flex;
    max-width:300px;
    margin:auto;
}
.dds_car_search_wrap_row{
    display:flex;
    max-width:100%;
    margin:auto;
}
.dds_car_search_wrap_col select{
    max-width: 350px;
    min-width: 200px;
    border: 1px solid #d4d4d4;
    padding: 13px;
    cursor:pointer;
}

.dds_car_search_wrap_row select{
    max-width: 350px;
    min-width: 200px;
    margin-right:15px;
    border: 1px solid #d4d4d4;
    padding: 13px;
    cursor:pointer;
}
.dds_car_search_inner_col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.dds_car_search_inner_row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.dds_car_search_submit{
    width: 60%;
    min-width: 140px;
    padding: 15px 0;
    font-size: 19px;
   
    border:0 !important;
}

.dds_car_search_submit:hover{
    transition: 0.4s;
}

@media only screen and (max-width: 650px) {
    .dds_car_search_inner_row{
        flex-direction: column;
    }
    .dds_car_search_inner_row select{
        margin-bottom:20px;
        margin-right:0px;
    }
    .dds_car_search_inner_row button{
        max-width: 250px;
    }
    
}