@charset "utf-8";
/* CSS Document */
.close{
    height:100%;
    width:100%;
    position:absolute;
}






address, blockquote, dd, div, dl, dt, fieldset, form, frame, frameset{ margin:0; padding:0; border: 0px; outline: none; }
label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0px; padding:0; outline:none; border:0;}
a{ text-decoration:none; border: 0px; outline: none; transition: all .5s;}
a:hover, a:focus, a:active{ text-decoration:none; border: 0px; outline: none; transition: all .5s;}

a img{ border:none; outline: none;}
a:focus {outline:none; } 
border{ border-collapse:collapse;}
hr{ height:1px; background:#333333; border:none;}
.clear{ clear:both;}
.left{ float:left;}
.right{ float:right;}
.clearfix:before,
.clearfix:after { content: " "; display: table;}
.clearfix:after { clear: both;}
.clearfix { *zoom: 1;}
img { max-width: 100%; height: auto;}
@media \0screen {img { width: auto }}

::-moz-selection { color: #fff; background: #00b374;}
::selection {  color: #fff; background: #00b374;}

.js .slider-single > div:nth-child(1n+2) { display: none }

.js .slider-single.slick-initialized > div:nth-child(1n+2) { display: block }


.main-slder{width:100%; height:488px; overflow:hidden; position:relative;  background: #000;}
.slider-single{width:100%; max-width:100%; height:488px;object-fit:cover; }
.slider-single img{ width:100%;height:488px; object-fit:cover;}
.slider-single .slick-slide{overflow:hidden;}
.slick-prev {
    position: absolute;
    left: 4px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9999;
    margin: 0;
    width: 36px;
    height: 36px;
    background: rgb(255 255 255 / 83%) !important;
    border-radius: 7px !important;
    box-shadow: 0px 3px 5px -3px #383838 !important;
}
.slick-prev:before {
    content: "\f104";
    font-family: FontAwesome;
    left: 12px;
    top: 4px !important;
    color: #000;
    font-size: 26px;
    position: absolute;
    top: 0;
}
.slider-single .slick-slide {
    border-radius: 5px;
}
    .slick-prev:hover{background:rgba(0,0,0,0.5);}
    .slick-prev:focus{background:rgba(0,0,0,0.5);}
.slick-next{position: absolute; right:4px; top:50%; transform:translateY(-50%); z-index:9999; margin:0;width: 36px;
    height: 36px;
    background: rgb(255 255 255 / 83%) !important;
    border-radius: 7px !important;
    box-shadow: 0px 3px 5px -3px #383838 !important;}
.slick-next:before{ content: "\f105";
    font-family: FontAwesome;
    left: 14px;
    top: 4px !important;
    color: #000;
    font-size: 26px;
    position: absolute;
    top: 0;	}
    .slick-next:hover{background:rgba(0,0,0,0.5);}
    .slick-next:focus{background:rgba(0,0,0,0.5);}
.slider-nav{width:100%;max-width:100%; position: absolute; bottom: 0; left: 0; transition:0.5s; background:rgb(255 255 255); height:67px; padding:4px 0px; transform: translateY(123px);}

.slider-nav .slick-slide{margin:0 2px; height:58px; cursor:pointer; }
.slider-nav .slick-slide img{ height:100%; width: 100px; object-fit:cover;border-radius:3px;}
.main-slder:hover .slider-nav{transform: translateY(0px);}


.slider__counter {
  position: absolute;
  bottom: -47px;
  background: rgba(0,0,0,0.5);
  right: 0;
  z-index: 1;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  
  width: 40px;
    
    color: #fff !important;
    padding: 1px 0;
  z-index:9999;
  text-align:center;
  transition: 0.5s;
}

.main-slder:hover .slider__counter{bottom: 37px;}
.clk{display: inline-block;}

.broadmain{width:100%; height:100vh; background: rgba(0,0,0,0.8); overflow:hidden; position:fixed; left:0; top:0; z-index:999; padding:20px 20px;    padding-top: 7%;}
.slider-nav .slick-slide.is-active{border:2px solid #1a72e8;}
.innerhead{display: none;}
.broadmain .innerhead{display: block; padding:30px 0px 40px; position: relative;}
.broadmain .sldrarea{width: 700px;
    margin: 0 auto; display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  }
.broadmain .slider-nav { transform:none !important; position: relative; margin-top:5px;}
.broadmain .slider-single img{width:100%;border-radius: 3px;}
.broadmain:hover .slider-nav { transform:none !important; }
.broadmain .slider-single { text-align:center;}


.broadmain .slider__counter {bottom: -6px;}
.broadmain:hover .slider__counter {bottom: -6px;}
.innerhead h3{color:#fff; font-size: 2rem; margin-bottom: 5px; }
.innerhead h4{color:#fff; font-size: 1rem; }

.innerhead{text-align: center;  }
/**.broadmain .slider-nav .slick-slide {height: 105px;}
.broadmain .slider-nav .slick-prev{height:105px;transform:none; top: 4px;}
.broadmain .slider-nav .slick-next{height:105px;transform:none; top: 4px;}
.broadmain .slider-nav .slick-next:before{top:21px !important;}
.broadmain .slider-nav .slick-prev:before{top:21px !important;}**/

@media only screen and (max-width: 1199px) {
  .sldrarea {
    width: 100%;
}


    .broadmain .sldrarea {
    width: 100%;
    margin: 0 auto;
}
}
@media only screen and (max-width: 991px) {

.broadmain .innerhead {
   
    padding: 41px 0px 40px;
   
}

.slider-nav .slick-slide img {
    height: 100%;border-radius: 3px;
    width: 122px;
    }
}
@media only screen and (max-width: 767px) {
   .slider-nav{
    height: 52px;
}.slider-nav .slick-slide{margin:0 2px; height:44px; cursor:pointer; }
.slider-nav .slick-prev,.slider-nav .slick-next{display:none !important;}
    
a:hover, a:focus, a:active{ text-decoration:none; border: 0px; outline: none; -webkit-transition-property: none;
-moz-transition-property: none;
-o-transition-property: none;
transition-property: none;}

.main-slder {
    width: 100%;
    height: 306px;
    padding: 0 0px;
}
.slider-single{width: 100% !important;  height: 306px !important;}
.slider-nav{width: 100% !important; }
.broadmain {width: 100% !important; height: 100vh;}
.innerhead h3 {font-size: 1.3rem;}

.slider-nav{transform: translateY(0px);}
.slider__counter {bottom: 37px;}
.slider-single img {
    width: 100%;
    height: 306px;
    }

    

}



